<html>
    <head>
        <title>Indoor Positioning</title>
        <link type="text/css" rel="stylesheet" href="/style/bootstrap-1.1.0.css">
        <link type="text/css" rel="stylesheet" href="/style/docs.css">
        <link href="/style/fileuploader.css" rel="stylesheet" type="text/css">    
        <script src="/script/shiftzoom.js"></script>
        
        <style type="text/css">
            .round {
                border-radius: 5px;
                box-shadow: 0 2px 6px rgba(1,1,1,0.5);
                padding: 20px 20px 0;
            }
        </style>
        
        <script type="text/javascript" src="/script/jquery-1.3.2.js"></script> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script src="/script/jquery.iframe-transport.js"></script>
        <script src="/script/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/script/jquery.form.js"></script> 
        <script src="/script/fileuploader.js" type="text/javascript"></script>
        <script src="/script/bootstrap-dropdown.js" ></script>
        <script src="/script/bootstrap-buttons.js" ></script>

        <script>
         
            
        
            /*
             * point_id starts from 1
             * no focus point if _point_id == 0
             */
            var _debug = false;
            var _map_key = "{{map.key}}";
            var _Points = {{point_data}};
            var _title_list = {{ point_titles }};
            var _desc_list = {{ point_descriptions }};
            var _point_id = 0;
            var _photo_list = {{ point_photos}};
            var _user_maps = {{user_maps}};
            
            var eNow;
            /*
             *  initial setup on ready
             */
            
            $(document).ready(function(){
                setDropUpload();
                updateMapList();
                $(document).mousemove(function(e){
                  eNow = e;
               });
            });
            
            
            /*
             * update map_list
             */
            function updateMapList( map_list){
                if( map_list == null)
                    map_list = _user_maps;
                else
                    _user_maps = map_list;
                var mapList = document.getElementById('mapList');
                if ( mapList.hasChildNodes()){
                    while ( mapList.childNodes.length >= 1 )
                    {
                        mapList.removeChild( mapList.lastChild );
                    } 
                }
                for( var i in _user_maps){
                    var li = document.createElement('li');
                    if( _user_maps[i][0] == _map_key)
                        li.innerHTML = '<a href="#"><font color="GOLD">'+_user_maps[i][1]+'</font></a>';
                    else
                        li.innerHTML = '<a href="#">'+_user_maps[i][1]+'</a>';
                    mapList.appendChild(li);
                    //li.onclick = function(){};
                    li.setAttribute("onclick", "javascript:doChangeMapAjax( '"+_user_maps[i][0]+ "');");
                }
                var divider = document.createElement('li');
                divider.setAttribute("class" , "divider");
                mapList.appendChild(divider);
                
                var createNewMap = document.createElement('li');
                createNewMap.innerHTML = '<a href="#"><font color="PINK">新增地圖</font></a>';
                mapList.appendChild(createNewMap);
                createNewMap.setAttribute("onclick", "javascript:clearMapArea();");
                
            }
            
            
            
            
            /*
             *  set dropupload
             */
            
            function setDropUpload(){
                var point_id = _point_id;
                var map_key = _map_key;
                
                $('#fileupload').fileupload({
                    dataType: 'text',
                    url: '/upload_photo',
                    dropZone: $('#drag_upload'),
                    done: function (e, data) {
                        result = JSON.parse(data.result);
                        updatePhoto( result.photo_key);
                        /*
                        $.each(data.result, function (index, file) {
                            alert('Done file: ' + file.name + ' result:' + data.result);
                            return;
                            //$('<p/>').text(file.name).appendTo('body');
                        });*/
                    },
                    send: function( e, data){
                        if( undefined == _map_key || _map_key.length <=0 || _point_id <= 0){
                            return false;
                        }
                    },
                    drop: function (e, data) {
                            if( _debug)
                                alert('Dropped file: ' + file.name);
                            data.formData = {point_id: point_id, map_key: map_key};
                    }                    
                });
            }
            
            function updatePhoto( photo_key){
                drag_area = document.getElementById('drag_upload');
                while( drag_area.childNodes.length > 0){
                    drag_area.removeChild( drag_area.lastChild);
                }
                if( photo_key == null){
                    drag_area.innerHTML = "將圖檔拖入此區";
                    drag_area.style.padding = "51px 0";
                }
                else{                    
                    var imgTag = document.createElement("img");
                    imgTag.id = "point_photo";
                    imgTag.src = "/point_photo?key="+photo_key;
                    imgTag.style.width = "100%";
                    imgTag.style.height = "100%";
                    
                    var inputTag = document.createElement("input");
                    inputTag.id = "photo_key";
                    inputTag.type = "hidden";
                    inputTag.value = photo_key;
                    
                    drag_area.appendChild( inputTag);
                    drag_area.appendChild( imgTag);
                    
                    drag_area.style.padding = "0";
                }
            }
      

            /*
             *  reloading Points
             */
            function setIndex(index){
                //if (index < 0) return;
                var Points = _Points;
                var title_list = _title_list;
                var desc_list = _desc_list;
                var photo_list = _photo_list;
                reloadElement( index, Points, title_list, desc_list, photo_list);
            }

            function reloadElement(index,Points, title_list, desc_list, photo_list){
                
                var img = document.getElementById("curMap");    
                var title = document.getElementById('point_title');
                var desc = document.getElementById('point_description');
                var id = document.getElementById('point_id');
                if ( _debug)
                    alert(index+" / "+ Points.length);

                // refresh Map
                if( index >= 0){
                    id.value = Points[index][2];
                    _point_id = Points[index][2];
                    title.value = title_list[index];
                    desc.value = desc_list[index];
                    updatePhoto( photo_list[index]);
                }
                else{
                    id.value = 0;
                    _point_id = 0;
                    title.value = '';
                    desc.value = '';
                    updatePhoto();
                }
                
                title.focus();
                shiftzoom.destruct(img, true);
                var navTable = document.getElementById('navTable');
                while ( navTable.rows.length > 0 ){
                    navTable.deleteRow(0);
                }
                for(var i in Points){
                    // refresh navTable
                    var row = navTable.insertRow(-1); // tr
                    row.setAttribute("onclick", "javascript:setIndex( "+i+ ");");
                    row.setAttribute("onmousemove", "javascript:setIcon( "+i+ ");");
                    row.setAttribute("onmouseout", "javascript:unsetIcon( "+i+ ");");
                    row.id = "nav_"+(Points[i][2])
                    var cell = row.insertCell(-1); //td
                    cell.innerHTML = title_list[i];
                    var cellButton = row.insertCell(-1);
                    cellButton.innerHTML = '<input type="image" src="image/icons/delete_button.png" alt="Delete" width="20" height="20" align="RIGHT" onclick="event.cancelBubble=true;doDeletePointAjax('+Points[i][2]+');" >';
                    if (i != index){
                        shiftzoom.construct( img, [{id: Points[i][2],
                                                    x: Points[i][0], 
                                                    y: Points[i][1],
                                                    w: 25, 
                                                    h: 45,
                                                    pos: 8,
                                                    title: title_list[i], 
                                                    href: 'javascript:setIndex('+i+')', 
                                                    src: 'image/icons/marker_pink.png', 
                                                    src2: 'image/icons/marker_pink_hover.png'}]);
                        document.getElementById("nav_" + Points[i][2]).style.backgroundColor="#fafafa";
                    } else {
                        shiftzoom.construct( img,[{id: Points[index][2],
                                           x: Points[index][0], 
                                           y: Points[index][1], 
                                           w: 25, 
                                           h: 45,
                                           pos: 8,
                                           title: title_list[index],
                                           src: 'image/icons/marker_blue.png', 
                                           src2: 'image/icons/marker_blue_hover.png'}]);
                        document.getElementById("nav_" + Points[index][2]).style.backgroundColor="#C2FFFD";
                    }
                }
                var imgWidth=shiftzoom.get(img,'maxwidth');
                var imgHeight=shiftzoom.get(img,'maxheight');
                if( !(index < 0)){
                    shiftzoom.kenburns(img, [100.0*Points[index][0]/imgWidth, 100.0*Points[index][1]/imgHeight, 100, 3]);
                }
            }

            

            /*
             *  set timer to detect mouse event
             */
            var timer;
            
            function setTimer(e){
                timer=setTimeout(function(){doAddPointAjax(e);},500);    
            }
            
            
            function clearTimer(){
                clearTimeout(timer);
            }
            
            
            
            
            

            /*
             *  do ajax with JQuery ajax
             */
            function deleteMapAjax(){
                if( _map_key.length){
                    if (confirm("確定要刪除此地圖及所有定位點？")){
                        var responseText = $.ajax({
                              url: "/drop_map",
                              global: true,
                              type: "POST",
                              data: {key : _map_key},
                              dataType: "html",
                              async:false,
                              success: function(msg){
                                 if ( _debug)
                                    alert(msg);
                              }
                           }
                        ).responseText;
                        var result = JSON.parse( responseText);
                        if( result.user_maps.length == 0 )
                            clearMapArea();
                        else
                            doChangeMapAjax( _user_maps[result.user_maps.length-1][0]);
                        updateMapList(result.user_maps);
                    }
                }
            }
            
            
            function saveMapAjax(){
                if( _map_key.length){
                    $('#update_map').button('loading');
                    setTimeout(function () {
                      $('#update_map').button('reset');
                    }, 1200);
                    var map_profile = document.getElementById('map_profile');
                    $.ajax({
                        url: map_profile.action,
                        global: false,
                        type: map_profile.method,
                        data: { title: map_profile.title.value, key: _map_key},
                        success: function(response){
                            if( _debug)
                                alert(map_profile.action);
                            response = JSON.parse(response);
                            updateMapList(response.user_maps);
                        }
                    });
                }
            }
            

            /*
             *  do ajax with api "JQuery.form"
             */
            $(document).ready(function() { 
                // bind 'myForm' and provide a simple callback function
                var options = {
                    type:       "POST",
                    success:     onUploadMapSuccess,  // post-submit callback 
                };
                $('#map_profile').ajaxForm();
                $('#mapForm').ajaxForm(options);
            });
            function uploadMap(){ 
                // submit the form 
                var options = {
                    type:       "POST",
                    success:    onUploadMapSuccess,  // post-submit callback 
                };
                $('#mapForm').ajaxSubmit(options); 
                // return false to prevent normal browser submit and page navigation 
                return false; 
            }
            function onUploadMapSuccess(responseText, statusText, xhr, $form)  { 
                var response = null;
                try {
                 response = JSON.parse(responseText);
                } catch (e) {
                 response = responseText;
                }
                if( _debug){
                    alert( responseText);
                }
                if( response.success == "false" ){
                    alert( response.message);
                }
                else{
                    _Points = [];
                    _title_list = [];
                    _desc_list = [];
                    _photo_list = [];
                    setupMapArea( response);
                    updateMapList(response.user_maps);
                }
            }
            
            
            /*
            function getStyle(el,styleProp)
            {
                var x = document.getElementById(el);
                if (x.currentStyle) // IE model
                    var y = x.currentStyle[styleProp];
                else if (window.getComputedStyle) // FF & Opera model
                    var y = document.defaultView.getComputedStyle(x,null).getPropertyValue(styleProp);
                return y;
            }*/

            /*
             *  ajax based on XMLHttpRequest implemented ourself
             */
            var server = {};
            InstallFunction(server, 'changeMapAjax');
            InstallFunction(server, 'addPointAjax');
            InstallFunction(server, 'deletePointAjax');
            InstallFunction(server, 'updatePointAjax');
            InstallFunction(server, 'syncWithDB');
            
            function InstallFunction(obj, name) {
              obj[name] = function() { Request(name, arguments); }
            }
            
            function refreshMap(response){
                index = findIndexOf(response.point_id,response.point_data);
                
                // refresh data in js
                _Points = response.point_data;
                _title_list = response.point_titles;
                _desc_list = response.point_descriptions;
                _photo_list = response.point_photos;
                _point_id = response.point_id;
                // sync the Map with databse
                document.getElementById('point_id').value = response.point_id;
                reloadElement(index, response.point_data, response.point_titles, response.point_descriptions, response.point_photos);
            }
            
            function onChangeMapSuccess(response){
                setupMapArea(response);
                updateMapList();
                refreshMap(response);
            }
            
            function doChangeMapAjax(map_key){
                server.changeMapAjax( map_key,  onChangeMapSuccess);
            }
            
            function onUpdateSuccess(response){
                $('#update_point').button('loading');
                setTimeout(function () {
                  $('#update_point').button('reset');
                }, 1200);
                refreshMap(response);

            }
            
            function doUpdatePointAjax(){
                if ( _Points.length <=0)
                    return;
                var title = document.getElementById('point_title');
                var desc = document.getElementById('point_description');
                var id = document.getElementById('point_id');
                var photo_key =  document.getElementById('photo_key');
                var photo_key_value = null;
                if( photo_key !== null)
                    photo_key_value = photo_key.value;
                server.updatePointAjax(_map_key, id.value, title.value, desc.value, photo_key_value, onUpdateSuccess);

            }
            
            function onDeleteSuccess(response){
                refreshMap(response);
            }
            
            function doDeletePointAjax(id){
                if ( _Points.length <=0)
                    return;
                var title = document.getElementById('point_title');
                if( id ==null)
                    id = document.getElementById('point_id').value;
                if (confirm("確定要刪除此定位點【" + title.value + "】？")){
                    server.deletePointAjax(_map_key, id, onDeleteSuccess);
                }
            }
            
            function onAddSuccess(response) {
                refreshMap(response);
            }
            
            
            function doAddPointAjax(e) {

                if( Math.abs( eNow.pageX - e.pageX) > 5 || Math.abs( eNow.pageY - e.pageY) > 5){
                    return;
                }
                var img=document.getElementById("curMap");
                var back=document.getElementById("back");
                var p=shiftzoom.get(img,'currentxyz');
                backX=e.pageX-back.offsetLeft;
                backY=e.pageY-back.offsetTop;
                imgWidth=shiftzoom.get(img,'maxwidth');
                imgHeight=shiftzoom.get(img,'maxheight');
                relX=(backX/back.offsetWidth)*imgWidth;
                relY=(backY/back.offsetHeight)*imgHeight;
                zoomX=shiftzoom.get(img,'maxzoomx');
                zoomY=shiftzoom.get(img,'maxzoomy');
                x=parseInt(relX/(p.z*(zoomX-1)+100)*100+p.x/100*imgWidth*(1-100/(p.z*(zoomX-1)+100)))
                y=parseInt(relY/(p.z*(zoomY-1)+100)*100+p.y/100*imgHeight*(1-100/(p.z*(zoomY-1)+100)));
                
                server.addPointAjax(_map_key, x.toString(), y.toString(),onAddSuccess);
            }
            
            function Request(function_name, opt_argv) {
              // If optional arguments was not provided, create it as empty
              if (!opt_argv)
                opt_argv = new Array();
             
              // Find if the last arg is a callback function; save it
              var callback = null;
              var len = opt_argv.length;
              if (len > 0 && typeof opt_argv[len-1] == 'function') {
                callback = opt_argv[len-1];
                opt_argv.length--;
              }
              var async = (callback != null);
             
              // Encode the arguments in to a URI
              var query = 'action=' + encodeURIComponent(function_name);
              for (var i = 0; i < opt_argv.length; i++) {
                var key = 'arg' + i;
                var val = JSON.stringify(opt_argv[i]);
                query += '&' + key + '=' + encodeURIComponent(val);
              }
              query += '&time=' + new Date().getTime(); // IE cache workaround

              // See http://en.wikipedia.org/wiki/XMLHttpRequest to make this cross-browser compatible
              var req = new XMLHttpRequest();

              // Create a 'GET' request w/ an optional callback handler 
              req.open('GET', '/rpc?' + query, async);
             
              if (async) {
                req.onreadystatechange = function() {
                  if(req.readyState == 4 && req.status == 200) {
                    var response = null;
                    try {
                     response = JSON.parse(req.responseText);
                    } catch (e) {
                     response = req.responseText;
                    }
                    callback(response);
                  }
                }
              }
             
              // Make the actual request
              req.send(null);
            }

            /*
             *  other utils
             */
            
            function setIcon(index){
                var point_list = _Points;
                var icon = document.getElementById( point_list[index][2]).firstChild;
                icon.src = icon.secnd;
            }
            
            function unsetIcon(index){
                var point_list = _Points;
                var icon = document.getElementById( point_list[index][2]).firstChild;
                icon.src = icon.first;
            }

            function getQRSingle(){
                if ( _Points.length <=0 || _point_id <=0)
                    return;
                var id = document.getElementById('point_id');
                var targetURL = '/qr_single?key='+_map_key+'&pointID=' + id.value;

                window.open(targetURL, '', 'height=240, width=240');
            }
            
            function findIndex(){
                var Points = _Points;
                var url = window.location.toString();
                
                if(url.indexOf("?") != -1){ //url裡有"?"符號
                     var ary = url.split("?")[1].split("&");
                    for(var i in ary){
                        if(ary[i].split("=")[0] == "pointID"){
                            for(var j in Points){
                                if(Points[j][2] == (ary[i].split("=")[1])){
                                    return j
                                }
                            }
                        }
                    }
                } else if (Points.length>0){
                    return 0;
                } else 
                    //empty Points 
                    return -1;
            }
            
            function findIndexOf( point_id , list){

                for(var j in list){
                    if( list[j][2] == point_id){
                        return j;
                    }
                }
                return -1;
            }
            
            function findID(){
                var Points = _Points;
                var url = window.location.toString();

                if(url.indexOf("?") != -1){ //url裡有"?"符號
                     var ary = url.split("?")[1].split("&");
                    for(var i in ary){
                        if(ary[i].split("=")[0] == "pointID"){
                            return ary[i].split("=")[1];
                        }
                    }
                }
            }
            
            function clearMapArea(){
                var xlInput = document.getElementById('xlInput');
                xlInput.value = "";
                var qr_all = document.getElementById('qr_all');
                qr_all.href = "";
                var body = document.getElementById('mapArea');
                mapArea.innerHTML = '<form id="mapForm" action="/upload_map" enctype="multipart/form-data" method="post"><div><input id="mapUpload" type="file" name="img"/></div><div><input id="submitButton" type="button" onclick="uploadMap();" value="上傳地圖"></div></form>';
                _map_key = '';
                _Points = [];
                _title_list = [];
                _desc_list = [];
                _photo_list = [];
                setIndex(-1);
            }
            
            function setupMapArea(response){
                var map_key = response.map_key;
                _map_key = map_key;
                
                var map_title = response.map_title;
                var xlInput = document.getElementById('xlInput');
                xlInput.value = map_title;
                
                var mapArea = document.getElementById('mapArea');
                
                var qr_all = document.getElementById('qr_all');
                qr_all.href = "/qr_all?key="+map_key;
                
                while ( mapArea.childNodes.length > 0){
                    mapArea.removeChild( mapArea.lastChild);
                }
                var divTag = document.createElement("div");
                var imgTag = document.createElement("img");
                divTag.id = "back";
                divTag.onmouseup = function(){ clearTimer();};
                divTag.onmousedown = function(e){ setTimer(e);};
                
                imgTag.id = "curMap";
                imgTag.alt = "地圖";
                imgTag.src = "/map_image?key=" + map_key;
                imgTag.onload = function(){                        
                    shiftzoom.add(this, {showcoords:true,relativecoords:true,zoom:100});
                    setIndex(findIndex());
                };
                imgTag.style.width = "100%";
                imgTag.style.height = "100%";                
                divTag = mapArea.appendChild( divTag);
                imgTag = divTag.appendChild( imgTag);
                document.getElementById('map_profile').key.value = map_key;
                document.getElementById('update_map').onclick = function(){saveMapAjax();};
                document.getElementById('delete_map').onclick = function(){deleteMapAjax();};
                document.getElementById('get_qr_single').onclick = function(){getQRSingle();};
                document.getElementById('update_point').onclick = function(){doUpdatePointAjax();};
                document.getElementById('delete_point').onclick = function(){doDeletePointAjax();};
                
            }
            
                            
        </script>
    </head>

    <body id='body'>
        

        <div class="topbar" data-dropdown="dropdown"> 
            <div class="fill"> 
                <div class="container"> 
                    <h3><a href="#">Indoor Positioning</a></h3> 
                    <ul>
                        <li>
                        {% if map %}
                            <a id="qr_all" href="/qr_all?key={{ map.key }}">輸出圖資</a>
                        {% else %}
                            <a id="qr_all">輸出圖資</a>
                        {% endif %}
                        </li> 
                        <li><a href="{{ logout_url }}">登出</a></li> 
                    </ul>
                    <ul class="nav secondary-nav"> 
                        <li class="menu"> 
                        <a href="#" class="menu">其他地圖</a> 
                        <ul id="mapList" class="menu-dropdown"> 
                            <li><a href="#">國家圖書館</a></li> 
                            <li><a href="#">台大資訊系4樓</a></li> 
                            <li><a href="#">台北車站</a></li> 
                        </ul> 
                        </li> 
                        
                    </ul>
                </div> 
            </div>
        </div> 

        <div class="container" style="padding-top: 40px;">
            <div class="row show-grid">
                <form id="map_profile" action="/update_map" enctype="multipart/form-data" method="get">
                    <div class="span12 column">
                        <input class="xlarge" id="xlInput" name="title" type="text" value="{{ map.title}}" style="margin: 0; padding: 0; width: 100%; height: 100%;" placeholder="地圖標題" onmouseup=this.select() />
                        <input type="hidden" name="key" value="{{ map.key }}">
                    </div>
                    {% if map %}
                        <div class="span2 column">
                            <button class="btn primary" onclick="saveMapAjax();" data-loading-text="儲存中..." id="update_map" style="margin: 0; padding: 0; width: 100%; height: 100%; ">儲存地圖</button>
                            
                        </div>
                        <div class="span2 column">
                            <input onclick="deleteMapAjax();" type="button" class="btn danger" id="delete_map" value="刪除地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; text-align: center;">
                        </div>
                    {% else %}
                        <div class="span2 column">
                            <input type="button" class="btn primary" data-loading-text="儲存中..." id="update_map" value="儲存地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; text-align: center;">
                        </div>
                        <div class="span2 column">
                            <input type="button" class="btn danger" id="delete_map" value="刪除地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; text-align: center;">
                        </div>
                    {% endif %}
                </form>
            </div> <!-- /row --> 

            <div class="row"> 
                <div id=mapArea class="span12 round" style="padding: 0; height: 400px;">
                    {% if map %}
                        <div id="back"  onmouseup="clearTimer();" onmousedown="setTimer(event);" ><img id="curMap" src="/map_image?key={{map.key}}" onLoad="shiftzoom.add(this, {showcoords:true,relativecoords:true,zoom:100});setIndex(findIndex());" style="width: 100%; height: 100%;"></div>
                    {% else %}
                        <form id="mapForm" action="/upload_map" enctype="multipart/form-data" method="post">
                            <div><input id="mapUpload" type="file" name="img"/></div>
                            <div><input id="submitButton" type="button" onclick="uploadMap();" value="上傳地圖"></div>
                        </form>
                    {% endif %}
                </div> 

                <div class="span4 round" style="padding: 0; height: 400px; overflow: auto;">
                    <table id="navTable" class="common-table zebra-striped">
                        <!--
                        {% for point in points%}
                        <tr><td onClick="setIndex({{forloop.counter0}});" onMouseMove="setIcon({{ forloop.counter0 }});" onMouseOut="unsetIcon({{ forloop.counter0 }});" id="nav_{{point.point_id}}"><img src="image/icons/delete_button.png" alt="Delete" width="30" height="30" align="RIGHT" />{{point.title}}</td>
                            
                        </tr>
                        {% endfor %}
                        -->
                    </table>
                </div> 
            </div> <!-- /row --> 

            <div class="row round" style="margin-top: 20px;">
                <div class="span16 column">
                    <div style="float: left; width: 30%; height: 150px;">
                        <div class="input" style="margin-bottom: 25px;"> 
                            <input class="xlarge" placeholder="地點名稱" id="point_title" name="xlInput" size="35" type="text" onmouseup=this.select() />
                            
                        </div>

                        <p><button class="btn"  id="get_qr_single">產生條碼</button></p>
                        <button class="btn primary" data-loading-text="儲存中..." id="update_point">儲存定位點</button>
                        <button class="btn danger" id="delete_point">刪除定位點</button>
                        <input type="hidden" id="point_id">
                        {% if map %}
                            <script>
                                //data = _Points;
                                //if(data.length > 0){
                                    document.getElementById('get_qr_single').onclick = function(){getQRSingle();};
                                    document.getElementById('update_point').onclick = function(){doUpdatePointAjax();};
                                    document.getElementById('delete_point').onclick = function(){doDeletePointAjax();};
                                //}
                            </script>
                        {% endif %}


                    </div>

                    <div style="float: left; width: 400px; height: 150px;">
                        <div class="input"> 
                            <textarea class="xxlarge" id="point_description" name="textarea" style="width: 100%; height: 80%" onmouseup=this.select()></textarea> 
                            <span class="help-block"> 
                                請輸入此地點的詳細描述
                        
                            </span>
                        </div> 
                    </div>
                    
                    <div id="temp" style="float: right; width: 240px; height: 119px;">
                        <div  name="drag_upload" id="drag_upload" class="input" style="border: 1px #aaa dotted; margin: 0 40px 40px 0; padding: 50px 0; text-align: center;">
                            <input id="fileupload" type="hidden" type="file" name="files[]" multiple>
                            <script>
                            
                            </script>
                            </form>
                            將圖檔拖入此區
                        </div> 
                    </div>
                </div> 
            </div> <!-- /row -->
        </div>
    </body>
</html>
