<html>
    <head>
        <title>Indoor Positioning</title>
        <link type="text/css" rel="stylesheet" href="/style/bootstrap-1.1.0.css">
        <link type="text/css" rel="stylesheet" href="/style/docs.css">
        <script src="/script/shiftzoom.js"></script>

        <style type="text/css">
			.round {
				border-radius: 5px;
                box-shadow: 0 2px 6px rgba(1,1,1,0.5);
                padding: 20px 20px 0;
            }
        </style>

        <script>
			function setName(index){
				var Points = {{point_data}};
				var img = document.getElementById("map1");	
				var title = document.getElementById('point_title');
				var desc = document.getElementById('point_description');
				var id = document.getElementById('point_id');

				var title_list = {{ point_titles }};
				var desc_list = {{ point_descriptions }};
				var point_list = {{ point_data }};

                title.value = title_list[index];
				desc.value = desc_list[index];
				id.value = point_list[index][2];
				
				
				shiftzoom.construct( img,[{id: Points[index][2],
					                       x: Points[index][0], 
										   y: Points[index][1], 
										   w: 25, 
										   h: 45,
										   pos: 8,
										   title: title_list[index],
										   src: 'image/icons/marker_blue.png', 
										   src2: 'image/icons/marker_blue_hover.png'}]);
			}

            function setIcon(index){
                var point_list = {{ point_data }};
                var icon = document.getElementById( point_list[index][2]).firstChild;
                icon.src = icon.secnd;
            }
            
            function unsetIcon(index){
                var point_list = {{ point_data }};
                var icon = document.getElementById( point_list[index][2]).firstChild;
                icon.src = icon.first;
            }
            
            function post_to_url(path, params, method) {
                method = method || "post"; // Set method to post by default, if not specified.

                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", path);

                for(var key in params) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);
            
                    form.appendChild(hiddenField);
                }

                document.body.appendChild(form);
                form.submit();
            }
            var timer
            var eNow
			function addUnit(e) {
				if( Math.abs( eNow.pageX - e.pageX) > 5 || Math.abs( eNow.pageY - e.pageY) > 5)
					return;
				var img=document.getElementById("map1");
                var back=document.getElementById("back");
                var p=shiftzoom.get(img,'currentxyz');
                backX=e.pageX-back.offsetLeft;
                backY=e.pageY-back.offsetTop;
                imgWidth=shiftzoom.get(img,'maxwidth');
                imgHeight=shiftzoom.get(img,'maxheight');
                relX=(backX/back.offsetWidth)*imgWidth;
                relY=(backY/back.offsetHeight)*imgHeight;
                zoomX=shiftzoom.get(img,'maxzoomx');
                zoomY=shiftzoom.get(img,'maxzoomy');
                x=parseInt(relX/(p.z*(zoomX-1)+100)*100+p.x/100*imgWidth*(1-100/(p.z*(zoomX-1)+100)))
                y=parseInt(relY/(p.z*(zoomY-1)+100)*100+p.y/100*imgHeight*(1-100/(p.z*(zoomY-1)+100)));
                shiftzoom.construct( img, [{x: x, 
							                y: y,
											w: 25, 
											h: 45,
											pos: 8,
											src: 'image/icons/marker_pink.png', 
											src2: 'image/icons/marker_pink_hover.png'}]);
                post_to_url("/add_point?key={{map.key}}",{"x":x, "y":y},"post");
			}

			function findIndex(){
				var Points = {{point_data}};
				var url = window.location.toString();

				if(url.indexOf("?") != -1){ //url裡有"?"符號
 					var ary = url.split("?")[1].split("&");
					for(var i in ary){
						if(ary[i].split("=")[0] == "pointID"){
							for(var j in Points){
								if(Points[j][2] == (ary[i].split("=")[1])){
									return j
								}
							}
						}
					}
				}
			}

            function refresh(){
				var Points = {{point_data}};

				var title_list = {{ point_titles }};
				var img=document.getElementById("map1");
				var id = document.getElementById('point_id');
				var target = findIndex();
                
                if( target != undefined){
                    id.value = Points[target][2];
                }
				for(var i=0 ; i<Points.length; i++){
					if ( target==undefined || i != target){
						shiftzoom.construct( img, [{id: Points[i][2],
							                        x: Points[i][0], 
							                        y: Points[i][1],
													w: 25, 
													h: 45,
													pos: 8,
													title: title_list[i], 
													href: '/?pointID=' + Points[i][2], 
													src: 'image/icons/marker_pink.png', 
													src2: 'image/icons/marker_pink_hover.png'}]);

					}
                    
				}
                if( target!=undefined){
                    alert('shit');
                    setName(id.value);
                }
			}

            function setTimer(e){
                timer=setTimeout(function(){addUnit(e);},1000);    
			}

            function clearTimer(){
                clearTimeout(timer);
			}

            function trackMouse(e){
                eNow=e;
			}

			function updatePoint(){
				var title = document.getElementById('point_title');
				var desc = document.getElementById('point_description');
				var id = document.getElementById('point_id');

				post_to_url("/update_point?key={{map.key}}",{"title":title.value, "description":desc.value, "id":id.value},"post");
			}

			function deletePoint(){
				var title = document.getElementById('point_title');
				var id = document.getElementById('point_id');
 				if (confirm("確定要刪除此定位點【" + title.value + "】？")){
					post_to_url("/delete_point?key={{map.key}}",{"id":id.value},"post");
				}
			}

			function deleteMap(){
				if (confirm("確定要刪除此地圖及所有定位點？")){
					post_to_url("/drop_map?key={{map.key}}",{"x": 1}, "post");
				}
			}

        </script>
    </head>

    <body>
        <div class="topbar"> 
            <div class="fill"> 
                <div class="container"> 
                    <h3><a href="#">Indoor Positioning</a></h3> 
                    <ul>
                        <li>
                        {% if map %}
                            <a href="/qr_all?key={{ map.key }}">輸出圖資</a>
                        {% else %}
                            <a>輸出圖資</a>
                        {% endif %}
                        </li> 
                        <li><a href="{{ logout_url }}">登出</a></li> 
                    </ul>
                    <!--
                    <ul class="nav secondary-nav"> 
                        <li class="menu"> 
                        <a class="menu">其他地圖</a> 
                        <ul class="menu-dropdown"> 
                            <li><a>國家圖書館</a></li> 
                            <li><a>台大資訊系4樓</a></li> 
                            <li><a>台北車站</a></li> 
                        </ul> 
                        </li> 
                    </ul>
                    -->
                </div> 
            </div>
		</div> 

        <div class="container" style="padding-top: 40px;">
            <div class="row show-grid">
                <form action="/update_map" enctype="multipart/form-data" method="post">
                    <div class="span12 column">
                        <input class="xlarge" id="xlInput" name="title" type="text" value="{{ map.title}}" style="margin: 0; padding: 0; width: 100%; height: 100%;" placeholder="地圖標題"/>
                        <input type="hidden" name="key" value="{{ map.key }}">
                    </div>
                    {% if map %}
                        <div class="span2 column">
                            <input type="submit" class="btn primary" value="儲存地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; ">
                        </div>
                        <div class="span2 column">
                            <input onclick="deleteMap();" class="btn danger" value="刪除地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; text-align: center;">
                        </div>
                    {% else %}
                        <div class="span2 column">
                            <input class="btn primary" value="儲存地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; text-align: center;">
                        </div>
                        <div class="span2 column">
                            <input class="btn danger" value="刪除地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; text-align: center;">
                        </div>
                    {% endif %}
                </form>
            </div> <!-- /row --> 

            <div class="row"> 
                <div class="span12 round" style="padding: 0; height: 400px;">
                    {% if map %}
                        <div id="back" onmousemove="trackMouse(event);" onmouseup="clearTimer();" onmousedown="setTimer(event);" ><img id="map1" src="/map_image?key={{map.key}}" onLoad="shiftzoom.add(this, {showcoords:true,relativecoords:true,zoom:100});refresh();" style="width: 100%; height: 100%;"></div>
                    {% else %}
                        <form action="/upload_map" enctype="multipart/form-data" method="post">
                            <div><input type="file" name="img"/></div>
                            <div><input type="submit" value="上傳地圖"></div>
                        </form>
                    {% endif %}
                </div> 

                <div class="span4 round" style="padding: 0; height: 400px;">
                    <table class="common-table zebra-striped">
                        {% for point in points%}
							<tr><td  onMouseOver="setIcon({{ forloop.counter }});" onMouseOut="unsetIcon({{ forloop.counter }});"><a href='/?pointID={{ forloop.counter }}'>{{point.title}}</a></td></tr>
                        {% endfor %}
                    </table>
                </div> 
            </div> <!-- /row --> 

            <div class="row round" style="margin-top: 20px;">
                <div class="span16 column">
                    <div style="float: left; width: 30%; height: 150px;">
                        <div class="input" style="margin-bottom: 25px;"> 
							<input class="xlarge" placeholder="地點名稱" id="point_title" name="xlInput" size="35" type="text" />
							<input type="hidden" id="point_id">
						</div>

						<p><div href="" class="btn">產生條碼</div></p>
						<div class="btn primary" id="update_point">儲存定位點</div>
						<div class="btn danger" id="delete_point">刪除定位點</div>
						{% if map %}
							<script>
								var data = {{ point_data }};
								if(data.length > 0){
									document.getElementById('update_point').onclick = function(){updatePoint();};
									document.getElementById('delete_point').onclick = function(){deletePoint();};
								}
							</script>
						{% endif %}


                    </div>

                    <div style="float: left; width: 400px; height: 150px;">
                        <div class="input"> 
                            <textarea class="xxlarge" id="point_description" name="textarea" style="width: 100%; height: 80%"></textarea> 
                            <span class="help-block"> 
                                請輸入此地點的詳細描述
						
							</span>
						</div> 
                    </div>

                    <div style="float: right; width: 240; height: 150px;">
                        <div class="input" style="border: 1px #aaa dotted; margin: 0 40px 0 0; padding: 50px 0; text-align: center;"> 
                            將圖檔拖入此區
                        </div> 
                    </div>
                </div> 
			</div> <!-- /row -->
		</div>
	</body>
</html>
