<html>
    <head>
        <title>Indoor Positioning</title>
        <link type="text/css" rel="stylesheet" href="/style/bootstrap-1.1.0.css">
        <link type="text/css" rel="stylesheet" href="/style/docs.css">
        <link href="/style/fileuploader.css" rel="stylesheet" type="text/css">	
        <script src="/script/shiftzoom.js"></script>
        
        <style type="text/css">
			.round {
				border-radius: 5px;
                box-shadow: 0 2px 6px rgba(1,1,1,0.5);
                padding: 20px 20px 0;
			}
        </style>
        
        <script type="text/javascript" src="/script/jquery-1.3.2.js"></script> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script src="/script/jquery.iframe-transport.js"></script>
        <script src="/script/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/script/jquery.form.js"></script> 
        <script src="/script/fileuploader.js" type="text/javascript"></script>

        <script>
            _debug = false;
            _map_key = "{{map.key}}";
            _Points = {{point_data}};
            _title_list = {{ point_titles }};
            _desc_list = {{ point_descriptions }};
            _point_id = 0;
            /*************************************************************/
            /*
             *  reloading Points
             */
            function setName(index){
                if (index < 0) return;
                var Points = _Points;
				var title_list = _title_list;
				var desc_list = _desc_list;
                reloadElement( index, Points, title_list, desc_list);
			}

            function reloadElement(index,Points, title_list, desc_list){
                
                var img = document.getElementById("map1");	
				var title = document.getElementById('point_title');
				var desc = document.getElementById('point_description');
				var id = document.getElementById('point_id');
                var point_list = Points
                if ( _debug)
                    alert(index+" / "+ Points.length);

                // refresh Map
                if( !(index < 0)){
                    id.value = Points[index][2];
                    _point_id = Points[index][2];
                    title.value = title_list[index];
                    desc.value = desc_list[index];
                }
                else{
                    id.value = 0;
                    title.value = '';
                    desc.value = '';
                }
				
                title.focus();
				shiftzoom.destruct(img, true);
                navTable = document.getElementById('navTable');
                while ( navTable.rows.length > 0 ){
                    navTable.deleteRow(0);
                }
                for(var i in Points){
                    // refresh navTable
                    var row = navTable.insertRow(-1); // tr
                    //row.onclick = function(){setName( i );};
                    row.setAttribute("onclick", "javascript:setName( "+i+ ");");
                    row.setAttribute("onmousemove", "javascript:setIcon( "+i+ ");");
                    row.setAttribute("onmouseout", "javascript:unsetIcon( "+i+ ");");
                    row.id = "nav_"+(Points[i][2])
                    var cell = row.insertCell(-1); //td
                    cell.innerHTML = title_list[i];
                    var cellButton = row.insertCell(-1);
                    cellButton.innerHTML = '<input type="image" src="image/icons/delete_button.png" alt="Delete" width="20" height="20" align="RIGHT" onclick="event.cancelBubble=true;doDeletePingAjax();" >';
					if (i != index){
						shiftzoom.construct( img, [{id: Points[i][2],
							                        x: Points[i][0], 
							                        y: Points[i][1],
													w: 25, 
													h: 45,
													pos: 8,
													title: title_list[i], 
													href: 'javascript:setName('+i+')', 
													src: 'image/icons/marker_pink.png', 
													src2: 'image/icons/marker_pink_hover.png'}]);
						document.getElementById("nav_" + Points[i][2]).style.backgroundColor="#fafafa";
					} else {
						shiftzoom.construct( img,[{id: Points[index][2],
					                       x: Points[index][0], 
										   y: Points[index][1], 
										   w: 25, 
										   h: 45,
										   pos: 8,
										   title: title_list[index],
										   src: 'image/icons/marker_blue.png', 
										   src2: 'image/icons/marker_blue_hover.png'}]);
						document.getElementById("nav_" + Points[index][2]).style.backgroundColor="#C2FFFD";
					}
				}
                var imgWidth=shiftzoom.get(img,'maxwidth');
                var imgHeight=shiftzoom.get(img,'maxheight');
				if( !(index < 0)){
                    shiftzoom.kenburns(img, [100.0*Points[index][0]/imgWidth, 100.0*Points[index][1]/imgHeight, 100, 3]);
                }
			}

            
            /*************************************************************/
            /*
             *  set timer to detect mouse event
             */
            var timer
            var eNow
			
            function setTimer(e){
                timer=setTimeout(function(){doAddPingAjax(e);},1000);    
			}
            
            function clearTimer(){
                clearTimeout(timer);
			}

            function trackMouse(e){
                eNow=e;
			}

			
            
            function setIcon(index){
                var point_list = _Points;
                var icon = document.getElementById( point_list[index][2]).firstChild;
                icon.src = icon.secnd;
            }
            
            function unsetIcon(index){
                var point_list = _Points;
                var icon = document.getElementById( point_list[index][2]).firstChild;
                icon.src = icon.first;
            }

			function getQRSingle(){
                if ( _Points.length <=0)
                    return;
				var id = document.getElementById('point_id');
				var targetURL = '/qr_single?key='+_map_key+'&pointID=' + id.value;

				window.open(targetURL, '', 'height=240, width=240');
			}
            
            
            
            /*************************************************************/
            /*
             *  ajax by JQuery
             */
            function deleteMapAjax(){
				if( _map_key.length){
                    if (confirm("確定要刪除此地圖及所有定位點？"+_map_key+"??")){
                        var body = document.getElementById('body');
                        body.innerHTML = $.ajax({
                              url: "/drop_map",
                              global: false,
                              type: "POST",
                              data: {key : _map_key},
                              dataType: "html",
                              async:false,
                              success: function(msg){
                                 if ( _debug)
                                    alert(msg);
                              }
                           }
                        ).responseText;
                        _map_key = '';
                        _Points = [];
                        _title_list = [];
                        _desc_list = [];
                    }
                }
			}
            
            function updateMapAjax(){
                if( _map_key.length){
                    map_profile = document.getElementById('map_profile');
                    $.ajax({
                        url: map_profile.action,
                        global: false,
                        type: map_profile.method,
                        data: { title: map_profile.title.value, key: _map_key},
                        success: function(msg){
                            if( _debug)
                                alert(map_profile.action);
                        }
                    });
                }
            }
            
            /*************************************************************/
            /*
             *  ajax by JQuery.form api  ( still working)
             */
            $(document).ready(function() { 
                // bind 'myForm' and provide a simple callback function
                var body = document.getElementById('body');
                var options = {
                    type:       "POST",
                    success:     onUploadMapSuccess  // post-submit callback 
                };
                $('#map_profile').ajaxForm();
                $('#mapForm').ajaxForm(options);
            });
            function uploadMap(){ 
                // submit the form 
                var options = {
                    type:       "POST",
                    success:     onUploadMapSuccess  // post-submit callback 
                };
                $('#mapForm').ajaxSubmit(options); 
                // return false to prevent normal browser submit and page navigation 
                return false; 
            }
            
            function onUploadMapSuccess(responseText, statusText, xhr, $form)  { 
                var mapArea = document.getElementById('mapArea');
                
                console.log(mapArea);
                if ( _debug)
                    alert('xxstatus: ' + statusText + '\n\nresponseText: \n' + responseText + '\n\nThe output div should have already been updated with the responseText.');
                //body.innerHTML = responseText;
                mapArea.innerHTML = '<div id="back" onmousemove="trackMouse(event);" onmouseup="clearTimer();" onmousedown="setTimer(event);" ><img id="map1" src="/map_image?key='+responseText+'" onLoad="shiftzoom.add(this, {showcoords:true,relativecoords:true,zoom:100});setName(findIndex());" style="width: 100%; height: 100%;"></div>';
                _map_key = responseText;
                _Points = [];
                _title_list = [];
                _desc_list = [];
                
                document.getElementById('map_profile').key.value = _map_key;
                document.getElementById('update_map').onclick = function(){updateMapAjax();};
                document.getElementById('delete_map').onclick = function(){deleteMapAjax();};
                document.getElementById('get_qr_single').onclick = function(){getQRSingle();};
                document.getElementById('update_point').onclick = function(){doUpdatePingAjax();};
                document.getElementById('delete_point').onclick = function(){doDeletePingAjax();};
                return false;
            }
            
            /*************************************************************/
            /*
             *  ajax based on XMLHttpRequest implemented ourself
             */
            var server = {};
            InstallFunction(server, 'addPingAjax');
            InstallFunction(server, 'deletePingAjax');
            InstallFunction(server, 'updatePingAjax');
            InstallFunction(server, 'syncWithDB');
            
            function InstallFunction(obj, name) {
              obj[name] = function() { Request(name, arguments); }
            }
            
            function refreshMap(response){
                index = findIndexOf(response.point_id,response.point_data);
                // refresh data in js
                _Points = response.point_data;
				_title_list = response.point_titles;
				_desc_list = response.point_descriptions;
                
                // sync the Map with databse
                document.getElementById('point_id').value = response.point_id;
                _point_id = response.point_id;
                reloadElement(index, response.point_data, response.point_titles, response.point_descriptions);
            }
            
            
            function onUpdateSuccess(response){
                refreshMap(response);
            }
            
            function doUpdatePingAjax(){
                if ( _Points.length <=0)
                    return;
                var title = document.getElementById('point_title');
				var desc = document.getElementById('point_description');
				var id = document.getElementById('point_id');
                
                server.updatePingAjax(_map_key, id.value, title.value, desc.value, onUpdateSuccess);
            }
            
            function onDeleteSuccess(response){
                refreshMap(response);
            }
            
            function doDeletePingAjax(){
                if ( _Points.length <=0)
                    return;
                var title = document.getElementById('point_title');
				var id = document.getElementById('point_id');
                if (confirm("確定要刪除此定位點【" + title.value + "】？")){
                    server.deletePingAjax(_map_key, id.value, onDeleteSuccess);
				}
            }
            
            function onAddSuccess(response) {
                refreshMap(response);
            }
            
            
            function doAddPingAjax(e) {

                if( Math.abs( eNow.pageX - e.pageX) > 5 || Math.abs( eNow.pageY - e.pageY) > 5){
                    return;
                }
				var img=document.getElementById("map1");
                var back=document.getElementById("back");
                var p=shiftzoom.get(img,'currentxyz');
                backX=e.pageX-back.offsetLeft;
                backY=e.pageY-back.offsetTop;
                imgWidth=shiftzoom.get(img,'maxwidth');
                imgHeight=shiftzoom.get(img,'maxheight');
                relX=(backX/back.offsetWidth)*imgWidth;
                relY=(backY/back.offsetHeight)*imgHeight;
                zoomX=shiftzoom.get(img,'maxzoomx');
                zoomY=shiftzoom.get(img,'maxzoomy');
                x=parseInt(relX/(p.z*(zoomX-1)+100)*100+p.x/100*imgWidth*(1-100/(p.z*(zoomX-1)+100)))
                y=parseInt(relY/(p.z*(zoomY-1)+100)*100+p.y/100*imgHeight*(1-100/(p.z*(zoomY-1)+100)));
                
                server.addPingAjax(_map_key, x.toString(), y.toString(),onAddSuccess);
            }
            
            function Request(function_name, opt_argv) {
              // If optional arguments was not provided, create it as empty
              if (!opt_argv)
                opt_argv = new Array();
             
              // Find if the last arg is a callback function; save it
              var callback = null;
              var len = opt_argv.length;
              if (len > 0 && typeof opt_argv[len-1] == 'function') {
                callback = opt_argv[len-1];
                opt_argv.length--;
              }
              var async = (callback != null);
             
              // Encode the arguments in to a URI
              var query = 'action=' + encodeURIComponent(function_name);
              for (var i = 0; i < opt_argv.length; i++) {
                var key = 'arg' + i;
                var val = JSON.stringify(opt_argv[i]);
                query += '&' + key + '=' + encodeURIComponent(val);
              }
              query += '&time=' + new Date().getTime(); // IE cache workaround

              // See http://en.wikipedia.org/wiki/XMLHttpRequest to make this cross-browser compatible
              var req = new XMLHttpRequest();

              // Create a 'GET' request w/ an optional callback handler 
              req.open('GET', '/rpc?' + query, async);
             
              if (async) {
                req.onreadystatechange = function() {
                  if(req.readyState == 4 && req.status == 200) {
                    var response = null;
                    try {
                     response = JSON.parse(req.responseText);
                    } catch (e) {
                     response = req.responseText;
                    }
                    callback(response);
                  }
                }
              }
             
              // Make the actual request
              req.send(null);
            }
            /*************************************************************/
            /*
             *  other utils
             */
            function findIndex(){
				var Points = _Points;
				var url = window.location.toString();
                
				if(url.indexOf("?") != -1){ //url裡有"?"符號
 					var ary = url.split("?")[1].split("&");
					for(var i in ary){
						if(ary[i].split("=")[0] == "pointID"){
							for(var j in Points){
								if(Points[j][2] == (ary[i].split("=")[1])){
									return j
								}
							}
						}
					}
				} else if (Points.length>0){
					return 0;
				} else 
                    //empty Points 
                    return -1;
			}
            
            function findIndexOf( point_id , list){

                for(var j in list){
                    if( list[j][2] == point_id){
                        return j;
                    }
                }
                return -1;
			}
            
			function findID(){
				var Points = _Points;
				var url = window.location.toString();

				if(url.indexOf("?") != -1){ //url裡有"?"符號
 					var ary = url.split("?")[1].split("&");
					for(var i in ary){
						if(ary[i].split("=")[0] == "pointID"){
							return ary[i].split("=")[1];
						}
					}
				}
			}
            /*************************************************************/
            /*
             *  upload image
             */
                            
        </script>
    </head>

    <body id='body'>
        

        <div class="topbar"> 
            <div class="fill"> 
                <div class="container"> 
                    <h3><a href="#">Indoor Positioning</a></h3> 
                    <ul>
                        <li>
                        {% if map %}
                            <a href="/qr_all?key={{ map.key }}">輸出圖資</a>
                        {% else %}
                            <a>輸出圖資</a>
                        {% endif %}
                        </li> 
                        <li><a href="{{ logout_url }}">登出</a></li> 
                    </ul>
                    <!--
                    <ul class="nav secondary-nav"> 
                        <li class="menu"> 
                        <a class="menu">其他地圖</a> 
                        <ul class="menu-dropdown"> 
                            <li><a>國家圖書館</a></li> 
                            <li><a>台大資訊系4樓</a></li> 
                            <li><a>台北車站</a></li> 
                        </ul> 
                        </li> 
                    </ul>
                    -->
                </div> 
            </div>
		</div> 

        <div class="container" style="padding-top: 40px;">
            <div class="row show-grid">
                <form id="map_profile" action="/update_map" enctype="multipart/form-data" method="get">
                    <div class="span12 column">
                        <input class="xlarge" id="xlInput" name="title" type="text" value="{{ map.title}}" style="margin: 0; padding: 0; width: 100%; height: 100%;" placeholder="地圖標題"/>
                        <input type="hidden" name="key" value="{{ map.key }}">
                    </div>
                    {% if map %}
                        <div class="span2 column">
                            <input onclick="updateMapAjax();" type="button" class="btn primary" id="update_map" value="儲存地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; ">
                        </div>
                        <div class="span2 column">
                            <input onclick="deleteMapAjax();" type="button" class="btn danger" id="delete_map" value="刪除地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; text-align: center;">
                        </div>
                    {% else %}
                        <div class="span2 column">
                            <input type="button" class="btn primary" id="update_map" value="儲存地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; text-align: center;">
                        </div>
                        <div class="span2 column">
                            <input type="button" class="btn danger" id="delete_map" value="刪除地圖" style="margin: 0; padding: 0; width: 100%; height: 100%; text-align: center;">
                        </div>
                    {% endif %}
                </form>
            </div> <!-- /row --> 

            <div class="row"> 
                <div id=mapArea class="span12 round" style="padding: 0; height: 400px;">
                    {% if map %}
                        <div id="back" onmousemove="trackMouse(event);" onmouseup="clearTimer();" onmousedown="setTimer(event);" ><img id="map1" src="/map_image?key={{map.key}}" onLoad="shiftzoom.add(this, {showcoords:true,relativecoords:true,zoom:100});setName(findIndex());" style="width: 100%; height: 100%;"></div>
                    {% else %}
                        <form id="mapForm" action="/upload_map" enctype="multipart/form-data" method="post">
                            <div><input id="mapUpload" type="file" name="img"/></div>
                            <div><input id="submitButton" type="button" onclick="uploadMap();" value="上傳地圖"></div>
                        </form>
                    {% endif %}
                </div> 

                <div class="span4 round" style="padding: 0; height: 400px; overflow: auto;">
                    <table id="navTable" class="common-table zebra-striped">
                        <!--
                        {% for point in points%}
						<tr><td onClick="setName({{forloop.counter0}});" onMouseMove="setIcon({{ forloop.counter0 }});" onMouseOut="unsetIcon({{ forloop.counter0 }});" id="nav_{{point.point_id}}"><img src="image/icons/delete_button.png" alt="Delete" width="30" height="30" align="RIGHT" />{{point.title}}</td>
                            
                        </tr>
                        {% endfor %}
                        -->
                    </table>
                </div> 
            </div> <!-- /row --> 

            <div class="row round" style="margin-top: 20px;">
                <div class="span16 column">
                    <div style="float: left; width: 30%; height: 150px;">
                        <div class="input" style="margin-bottom: 25px;"> 
							<input class="xlarge" placeholder="地點名稱" id="point_title" name="xlInput" size="35" type="text" />
							
                        </div>

						<p><div class="btn" id="get_qr_single">產生條碼</div></p>
						<div class="btn primary" id="update_point">儲存定位點</div>
						<div class="btn danger" id="delete_point">刪除定位點</div>
                        <input type="hidden" id="point_id">
						{% if map %}
							<script>
                                //data = _Points;
								//if(data.length > 0){
									document.getElementById('get_qr_single').onclick = function(){getQRSingle();};
									document.getElementById('update_point').onclick = function(){doUpdatePingAjax();};
									document.getElementById('delete_point').onclick = function(){doDeletePingAjax();};
								//}
							</script>
						{% endif %}


                    </div>

                    <div style="float: left; width: 400px; height: 150px;">
                        <div class="input"> 
                            <textarea class="xxlarge" id="point_description" name="textarea" style="width: 100%; height: 80%"></textarea> 
                            <span class="help-block"> 
                                請輸入此地點的詳細描述
						
							</span>
						</div> 
                    </div>
                    
                    <div id="temp" style="float: right; width: 240px; height: 125px;">
                        <div  name="drag_upload" id="drag_upload" class="input" style="border: 1px #aaa dotted; margin: 0 40px 40px 0; padding: 50px 0; text-align: center;">
                            <input id="fileupload" type="hidden" type="file" name="files[]" multiple>
                            <script>
                            $(function () {
                            document.getElementById('point_id')
                                point_id = document.getElementById('point_id');
                                map_key = _map_key;
                                
                                $('#fileupload').fileupload({
                                    dataType: 'text',
                                    url: '/upload_image',
                                    dropZone: $('#drag_upload'),
                                    done: function (e, data) {
                                        drag_area = document.getElementById('drag_upload');
                                        drag_area.innerHTML = '<img id="ping_photo" src="/ping_photo?key='+data.result+'" style="width: 100%; height: 100%;">';
                                        drag_area.style.padding = "0";                    
                                        /*
                                        $.each(data.result, function (index, file) {
                                            alert('Done file: ' + file.name + ' result:' + data.result);
                                            return;
                                            //$('<p/>').text(file.name).appendTo('body');
                                        });*/
                                    },
                                    fail: function (e, data) {
                                        $.each(data.result, function (index, file) {
                                            alert('fail file: ' + file.name);
                                            //$('<p/>').text(file.name).appendTo('body');
                                        });
                                    },
                                    drop: function (e, data) {
                                        $.each(data.files, function (index, file) {
                                            if( _debug)
                                                alert('Dropped file: ' + file.name);
                                            data.formData = {point_id: _point_id, map_key: _map_key};
                                        });
                                    },
                                    change: function (e, data) {
                                        $.each(data.files, function (index, file) {
                                            alert('Selected file: ' + file.name);
                                        });
                                    }
                                    
                                });
                            });
                            </script>
                            </form>
                            將圖檔拖入此區
                        </div> 
                    </div>
                </div> 
			</div> <!-- /row -->
		</div>
	</body>
</html>
